<a href="https://colab.research.google.com/github/Devanbagh0711/medhadailynotes/blob/main/pandas_met.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#what is pandas?
#it is open source libaray,that it workes mainly with the labelled data
#why we are using pandas?
#fast,high performance,productive and easy to load and read the data.
#*it's advance exel 2.4
#it is useful for flexible and reshaping of data,pivioting the data,data vissulisation and group by functionality
#time series analysis
#what are the functions of data?
#Analysing the data,cleaning,exploring,and manipulating the data?
# What is data cleaning?
#Delete irrelative data,empty or null values,correction of data types,fill the null values

In [ ]:
**installation of pandas**

In [ ]:
!pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.12/dist-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.12/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [ ]:
#import the module
import pandas as pd

In [ ]:

#how many data structure do we have in pandas?
#there are 3 types
#series
#data frame
#panel

**series**

In [ ]:
#what is series?
#it is 1-D labelled array

In [ ]:
import numpy as np
l = [1,2,3,4,5,6]
a = np.array(l)
print(a)

[1 2 3 4 5 6]

In [ ]:
sr = pd.Series(a)
print(sr)

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64

In [ ]:
sr = pd.Series(a,index=['a','b','c','d','e','f'])
print(sr)

a    1
b    2
c    3
d    4
e    5
f    6
dtype: int64

In [ ]:
#create a series from dictionary?#here left side name is the key,and medha is value.
d ={
    "name":"medha",
    "course":"DS",
    "Duration":"4months"
}
s = pd.Series(d)
print(s)

name          medha
course           DS
Duration    4months
dtype: object

In [ ]:
#create a series from tuple of numbers?
#create a series from set?
s = {1,2,3,4,5}
s = pd.Series(s)
print(s)
#Note:-we cannot create a series from the set because
#set is unorderd

TypeError: 'set' type is unordered

**Data frame**:-is 2D-size,Heterogenous with labelled axis(rows and columns),mutable
-->columns is also known as features,variables,fields,dimension,attrubes
-->rows also know as records,values,index

```
# This is formatted as code
```

In [ ]:
#create a data frame from a below list?
l = [1,2,3,4,5,6]
df = pd.DataFrame(l,index =['a','b','c','d','e','f'])
print(df)

   0
a  1
b  2
c  3
d  4
e  5
f  6

In [ ]:
#create a data frame from the series?
s = {'apple','banana','orange','pineapple'}
df = pd.DataFrame(s,columns = ['fruits'],index = ['a','b','c','d'])
print(df)

      fruits
a     orange
b      apple
c     banana
d  pineapple

**importing and exporting the data**

In [ ]:
#1.csv file :-read a csv file and convert into excel file
df = pd.read_csv("/content/sample_data/california_housing_train.csv")

In [ ]:
#check the first 5 rows of the df?
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0
3,-114.57,33.64,14.0,1501.0,337.0,515.0,226.0,3.1917,73400.0
4,-114.57,33.57,20.0,1454.0,326.0,624.0,262.0,1.9250,65500.0

In [ ]:
#export the csv file to excel format
df.to_excel("sample.xlsx")

In [ ]:
df1 = pd.read_excel("/content/sample.xlsx")
df1.tail()

,Unnamed: 0,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
16995,16995,-124.26,40.58,52,2217,394,907,369,2.3571,111400
16996,16996,-124.27,40.69,36,2349,528,1194,465,2.5179,79000
16997,16997,-124.30,41.84,17,2677,531,1244,456,3.0313,103600
16998,16998,-124.30,41.80,19,2672,552,1298,478,1.9797,85800
16999,16999,-124.35,40.54,52,1820,300,806,270,3.0147,94600

In [ ]:
#export the excel file to json format #df1.to_json
df1.to_json("sample.json")

In [ ]:
df2 = pd.read_json("/content/sample.json")
df2.tail()

,Unnamed: 0,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
16995,16995,-124.26,40.58,52,2217,394,907,369,2.3571,111400
16996,16996,-124.27,40.69,36,2349,528,1194,465,2.5179,79000
16997,16997,-124.30,41.84,17,2677,531,1244,456,3.0313,103600
16998,16998,-124.30,41.80,19,2672,552,1298,478,1.9797,85800
16999,16999,-124.35,40.54,52,1820,300,806,270,3.0147,94600

**Data frame function**

In [ ]:
#step1 :- read a csv file
df = pd.read_csv("/content/sample_data/california_housing_train.csv")

In [ ]:
#step2 :- check the size and the index of the df
df.size #(no of rows*no of columns)
df.index

RangeIndex(start=0, stop=17000, step=1)

In [ ]:
#step3 :- read the columns
df.columns

Index(['longitude', 'latitude', 'housing_median_age', 'total_rooms',
       'total_bedrooms', 'population', 'households', 'median_income',
       'median_house_value'],
      dtype='object')

In [ ]:
#check the numbers of rows and columns
df.shape

(17000, 9)

In [ ]:
#get all overall information of the data
df.info

<bound method DataFrame.info of        longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0        -114.31     34.19                15.0       5612.0          1283.0
1        -114.47     34.40                19.0       7650.0          1901.0
2        -114.56     33.69                17.0        720.0           174.0
3        -114.57     33.64                14.0       1501.0           337.0
4        -114.57     33.57                20.0       1454.0           326.0
...          ...       ...                 ...          ...             ...
16995    -124.26     40.58                52.0       2217.0           394.0
16996    -124.27     40.69                36.0       2349.0           528.0
16997    -124.30     41.84                17.0       2677.0           531.0
16998    -124.30     41.80                19.0       2672.0           552.0
16999    -124.35     40.54                52.0       1820.0           300.0

       population  households  median_income  median_house_value
0          1015.0       472.0         1.4936             66900.0
1          1129.0       463.0         1.8200             80100.0
2           333.0       117.0         1.6509             85700.0
3           515.0       226.0         3.1917             73400.0
4           624.0       262.0         1.9250             65500.0
...           ...         ...            ...                 ...
16995       907.0       369.0         2.3571            111400.0
16996      1194.0       465.0         2.5179             79000.0
16997      1244.0       456.0         3.0313            103600.0
16998      1298.0       478.0         1.9797             85800.0
16999       806.0       270.0         3.0147             94600.0

[17000 rows x 9 columns]>

In [ ]:
#check the data type
df.dtypes

longitude             float64
latitude              float64
housing_median_age    float64
total_rooms           float64
total_bedrooms        float64
population            float64
households            float64
median_income         float64
median_house_value    float64
dtype: object

In [ ]:
#describe the data accoding to statistics or get the summery of the data
df.describe()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
count,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000
mean,-119.562108,35.625225,28.589353,2643.664412,539.410824,1429.573941,501.221941,3.883578,207300.912353
std,2.005166,2.137340,12.586937,2179.947071,421.499452,1147.852959,384.520841,1.908157,115983.764387
min,-124.350000,32.540000,1.000000,2.000000,1.000000,3.000000,1.000000,0.499900,14999.000000
25%,-121.790000,33.930000,18.000000,1462.000000,297.000000,790.000000,282.000000,2.566375,119400.000000
50%,-118.490000,34.250000,29.000000,2127.000000,434.000000,1167.000000,409.000000,3.544600,180400.000000
75%,-118.000000,37.720000,37.000000,3151.250000,648.250000,1721.000000,605.250000,4.767000,265000.000000
max,-114.310000,41.950000,52.000000,37937.000000,6445.000000,35682.000000,6082.000000,15.000100,500001.000000

In [ ]:
#check null value in the df
df.isnull().sum()

longitude             0
latitude              0
housing_median_age    0
total_rooms           0
total_bedrooms        0
population            0
households            0
median_income         0
median_house_value    0
dtype: int64

**4-12-2025**

**Access the dataframe**

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv("/content/sample_data/california_housing_train.csv")
#check the first 5 rows
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0
3,-114.57,33.64,14.0,1501.0,337.0,515.0,226.0,3.1917,73400.0
4,-114.57,33.57,20.0,1454.0,326.0,624.0,262.0,1.9250,65500.0

In [ ]:
df.columns

Index(['longitude', 'latitude', 'housing_median_age', 'total_rooms',
       'total_bedrooms', 'population', 'households', 'median_income',
       'median_house_value'],
      dtype='object')

In [ ]:
#Read the column or the column "population"?
df['population']

0        1015.0
1        1129.0
2         333.0
3         515.0
4         624.0
          ...
16995     907.0
16996    1194.0
16997    1244.0
16998    1298.0
16999     806.0
Name: population, Length: 17000, dtype: float64

In [ ]:
#read the first 5 rows and last 5 rows of population column?
df['population'].head()
df['population'].tail()

16995     907.0
16996    1194.0
16997    1244.0
16998    1298.0
16999     806.0
Name: population, dtype: float64

In [ ]:
#read the first row value of total bedroom column[start:end:step]
df['total_bedrooms'][100:500:2]#read the even index row

100     307.0
102     187.0
104     244.0
106     235.0
108      99.0
        ...
490    1036.0
492      69.0
494    1704.0
496    3474.0
498     866.0
Name: total_bedrooms, Length: 200, dtype: float64

In [ ]:
#how to access the multiple columns at a time?
#acess'totl_bedroom','population','household'from df
df[['total_bedrooms','population','households']].head()

   total_bedrooms  population  households
0          1283.0      1015.0       472.0
1          1901.0      1129.0       463.0
2           174.0       333.0       117.0
3           337.0       515.0       226.0
4           326.0       624.0       262.0

**loc():-is used to locate the rows**

In [ ]:
#syntax:- df.loc[start:end:step]
#get the data of entire row values
df.loc[0]

longitude              -114.3100
latitude                 34.1900
housing_median_age       15.0000
total_rooms            5612.0000
total_bedrooms         1283.0000
population             1015.0000
households              472.0000
median_income             1.4936
median_house_value    66900.0000
Name: 0, dtype: float64

In [ ]:
#read or access the rows with odd index from 1 to 100
df.loc[1:101:2]

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0
3,-114.57,33.64,14.0,1501.0,337.0,515.0,226.0,3.1917,73400.0
5,-114.58,33.63,29.0,1387.0,236.0,671.0,239.0,3.3438,74000.0
7,-114.59,34.83,41.0,812.0,168.0,375.0,158.0,1.7083,48500.0
9,-114.60,34.83,46.0,1497.0,309.0,787.0,271.0,2.1908,48100.0
11,-114.60,33.60,21.0,1988.0,483.0,1182.0,437.0,1.6250,62000.0
13,-114.61,34.83,31.0,2478.0,464.0,1346.0,479.0,3.2120,70400.0
15,-114.65,34.89,17.0,2556.0,587.0,1005.0,401.0,1.6991,69100.0
17,-114.65,32.79,21.0,44.0,33.0,64.0,27.0,0.8571,25000.0
19,-114.67,33.92,17.0,97.0,24.0,29.0,15.0,1.2656,27500.0
21,-114.73,33.43,24.0,796.0,243.0,227.0,139.0,0.8964,59200.0
23,-114.98,33.82,15.0,644.0,129.0,137.0,52.0,3.2097,71300.0
25,-115.32,32.82,34.0,591.0,139.0,327.0,89.0,3.6528,100000.0
27,-115.37,32.82,14.0,1276.0,270.0,867.0,261.0,1.9375,80900.0
29,-115.37,32.81,23.0,1458.0,294.0,866.0,275.0,2.3594,74300.0
31,-115.38,32.81,35.0,1263.0,262.0,950.0,241.0,1.8958,67500.0
33,-115.40,32.86,19.0,1087.0,171.0,649.0,173.0,3.3182,113800.0
35,-115.41,32.99,29.0,1141.0,220.0,684.0,194.0,3.4038,107800.0
37,-115.48,32.80,21.0,1260.0,246.0,805.0,239.0,2.6172,88500.0
39,-115.49,32.87,19.0,541.0,104.0,457.0,106.0,3.3583,102800.0
41,-115.49,32.67,29.0,1523.0,440.0,1302.0,393.0,1.1311,84700.0
43,-115.50,32.75,13.0,330.0,72.0,822.0,64.0,3.4107,142500.0
45,-115.50,32.67,35.0,2159.0,492.0,1694.0,475.0,2.1776,75500.0
47,-115.51,33.12,21.0,1024.0,218.0,890.0,232.0,2.1010,46700.0
49,-115.51,32.68,11.0,2872.0,610.0,2644.0,581.0,2.6250,72700.0
51,-115.52,33.13,18.0,1109.0,283.0,1006.0,253.0,2.1630,53400.0
53,-115.52,32.98,32.0,1615.0,382.0,1307.0,345.0,1.4583,58600.0
55,-115.52,32.97,10.0,1879.0,387.0,1376.0,337.0,1.9911,67500.0
57,-115.52,32.73,17.0,1190.0,275.0,1113.0,258.0,2.3571,63100.0
59,-115.53,34.91,12.0,807.0,199.0,246.0,102.0,2.5391,40000.0
61,-115.53,32.97,35.0,1583.0,340.0,933.0,318.0,2.4063,70700.0
63,-115.53,32.73,14.0,1527.0,325.0,1453.0,332.0,1.7350,61200.0
65,-115.54,32.99,17.0,1697.0,268.0,911.0,254.0,4.3523,96000.0
67,-115.54,32.97,41.0,2429.0,454.0,1188.0,430.0,3.0091,70800.0
69,-115.55,32.98,33.0,2266.0,365.0,952.0,360.0,5.4349,143000.0
71,-115.55,32.82,34.0,1540.0,316.0,1013.0,274.0,2.5664,67500.0
73,-115.55,32.79,23.0,1004.0,221.0,697.0,201.0,1.6351,59600.0
75,-115.55,32.78,5.0,2652.0,606.0,1767.0,536.0,2.8025,84300.0
77,-115.56,32.80,28.0,1672.0,416.0,1335.0,397.0,1.5987,59400.0
79,-115.56,32.80,15.0,1171.0,328.0,1024.0,298.0,1.3882,69400.0
81,-115.56,32.79,18.0,1178.0,438.0,1377.0,429.0,1.3373,58300.0
83,-115.56,32.78,35.0,1185.0,202.0,615.0,191.0,4.6154,86200.0
85,-115.56,32.76,15.0,1278.0,217.0,653.0,185.0,4.4821,140300.0
87,-115.57,32.85,17.0,1039.0,256.0,728.0,246.0,1.7411,63500.0
89,-115.57,32.83,31.0,1494.0,289.0,959.0,284.0,3.5282,67500.0
91,-115.57,32.79,34.0,1152.0,208.0,621.0,208.0,3.6042,73600.0
93,-115.57,32.78,15.0,1413.0,279.0,803.0,277.0,4.3021,87500.0
95,-115.58,32.81,5.0,805.0,143.0,458.0,143.0,4.4750,96300.0
97,-115.58,32.79,14.0,1687.0,507.0,762.0,451.0,1.6635,64400.0
99,-115.59,32.85,20.0,1608.0,274.0,862.0,248.0,4.8750,90800.0
101,-115.59,32.69,30.0,935.0,177.0,649.0,148.0,2.5769,94400.0

In [ ]:
#by using the df.loc()access the particular column and print even index value
df['total_bedrooms'].loc[::2]

0        1283.0
2         174.0
4         326.0
6         680.0
8        1175.0
          ...
16990     699.0
16992     209.0
16994     419.0
16996     528.0
16998     552.0
Name: total_bedrooms, Length: 8500, dtype: float64

In [ ]:
#apply the condtions on the columns
#print the even values of the column total bedrooms
df[['total_bedrooms']]%2==0

       total_bedrooms
0               False
1               False
2                True
3               False
4                True
...               ...
16995            True
16996            True
16997           False
16998            True
16999            True

[17000 rows x 1 columns]

In [ ]:
df.loc[df['total_bedrooms']%2==0]['total_bedrooms']

2        174.0
4        326.0
5        236.0
6        680.0
7        168.0
         ...
16991    616.0
16995    394.0
16996    528.0
16998    552.0
16999    300.0
Name: total_bedrooms, Length: 8590, dtype: float64

**icon**:-pass the axis number of rows and columns

In [ ]:
#syntax:-pass the axis number of rows and column
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0
3,-114.57,33.64,14.0,1501.0,337.0,515.0,226.0,3.1917,73400.0
4,-114.57,33.57,20.0,1454.0,326.0,624.0,262.0,1.9250,65500.0

In [ ]:
#print 5 row value from housing median age
df['housing_median_age'][4]

np.float64(20.0)

In [ ]:
df['housing_median_age'].loc[4]

np.float64(20.0)

In [ ]:
df.iloc[4,2]

np.float64(20.0)

In [ ]:
#print the first 3 rows and 4 columns from the dataframe by using the iloc()
df.iloc[0:3,0:4]

   longitude  latitude  housing_median_age  total_rooms
0    -114.31     34.19                15.0       5612.0
1    -114.47     34.40                19.0       7650.0
2    -114.56     33.69                17.0        720.0

In [ ]:
#what is the differece between loc and iloc?
#loc support filtering of the data by applying the condition
#iloc won't support the filtering of the data
df.iloc[df['total_bedrooms']%2==0]

NotImplementedError: iLocation based boolean indexing on an integer type is not available

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv("/content/sample_data/california_housing_train.csv")

In [ ]:
#check the unique value in "total rooms" in columns
df['total_rooms'].unique()

array([5612., 7650.,  720., ..., 3810., 3003., 2694.])

In [ ]:
#check the distrutions of values in a particular column
df['housing_median_age'].value_counts()

housing_median_age
52.0    1052
36.0     715
35.0     692
16.0     635
17.0     576
34.0     567
33.0     513
26.0     503
18.0     478
25.0     461
32.0     458
37.0     437
15.0     416
19.0     412
28.0     400
27.0     397
24.0     389
31.0     384
30.0     384
20.0     383
23.0     382
29.0     374
21.0     373
14.0     347
22.0     323
38.0     318
42.0     308
39.0     302
44.0     296
43.0     286
13.0     249
40.0     249
45.0     235
41.0     232
10.0     226
11.0     208
5.0      199
46.0     196
12.0     192
8.0      178
47.0     175
9.0      172
4.0      161
7.0      151
48.0     135
6.0      129
50.0     112
49.0     111
2.0       49
3.0       46
51.0      32
1.0        2
Name: count, dtype: int64

In [ ]:
#find the dublicated data from the df
df.duplicated().sum()

np.int64(0)

In [ ]:
#find the dublicated data from the df
df.duplicated()

0        False
1        False
2        False
3        False
4        False
         ...
16995    False
16996    False
16997    False
16998    False
16999    False
Length: 17000, dtype: bool

**Handling the missing data**

In [ ]:
import numpy as np

In [ ]:
s = pd.Series(['sam','np.nan','Tim'])
print(s)

0       sam
1    np.nan
2       Tim
dtype: object

In [ ]:
s.isnull()

0    False
1    False
2    False
dtype: bool

In [ ]:
s.isnull().sum()

np.int64(0)

In [ ]:
#How can you drop the null values
s.dropna()

0       sam
1    np.nan
2       Tim
dtype: object

In [ ]:
#create a data frame
df = pd.DataFrame([[1,2,3],[4,np.nan,5],[np.nan,np.nan,np.nan]])
print(df)

     0    1    2
0  1.0  2.0  3.0
1  4.0  NaN  5.0
2  NaN  NaN  NaN

In [ ]:
#drop the rows having null values
df.dropna()

     0    1    2
0  1.0  2.0  3.0

In [ ]:
#delete only the rows which is having null values
df.dropna(how='all')

     0    1    2
0  1.0  2.0  3.0
1  4.0  NaN  5.0

**5-12-2025**

**combining and merging the dataframes**

In [ ]:
import pandas as pd

In [ ]:
#joining the data frames
d1 = pd.DataFrame(
    {"key":["a","b","c","c","d","e"],
     "num1":range(6)}
)
d2 = pd.DataFrame(
    {"key":['b','c','e','f'],
     'num2':range(4)}
)

In [ ]:
print(d1)
print(d2)

  key  num1
0   a     0
1   b     1
2   c     2
3   c     3
4   d     4
5   e     5
  key  num2
0   b     0
1   c     1
2   e     2
3   f     3

In [ ]:
#merge the d1 and d2 where print only matching rows---inner join
pd.merge(d1,d2) #default pd.merge print the inner join

  key  num1  num2
0   b     1     0
1   c     2     1
2   c     3     1
3   e     5     2

In [ ]:
#left join:- all the info from first table and matched info from 2nd table
pd.merge(d1,d2,how='left',on="key")

  key  num1  num2
0   a     0   NaN
1   b     1   0.0
2   c     2   1.0
3   c     3   1.0
4   d     4   NaN
5   e     5   2.0

In [ ]:
#right join:-
pd.merge(d1,d2,how="right",on="key")

  key  num1  num2
0   b   1.0     0
1   c   2.0     1
2   c   3.0     1
3   e   5.0     2
4   f   NaN     3

In [ ]:
#outer join:- merge all the data from table
pd.merge(d1,d2,how="outer",on="key")

  key  num1  num2
0   a   0.0   NaN
1   b   1.0   0.0
2   c   2.0   1.0
3   c   3.0   1.0
4   d   4.0   NaN
5   e   5.0   2.0
6   f   NaN   3.0

In [ ]:
**pivoting** is a tool to summerize and analyse the data

In [ ]:
import pandas as pd

In [ ]:
data ={
    "student":['a','b','c','a','b','c'],
    "subject":['maths','maths','maths','science','science','science'],
    "marks":[85,90,95,80,70,88],
    "sem":["sem1","sem1","sem1","sem2","sem2","sem2"]
}
df = pd.DataFrame(data)
df

  student  subject  marks   sem
0       a    maths     85  sem1
1       b    maths     90  sem1
2       c    maths     95  sem1
3       a  science     80  sem2
4       b  science     70  sem2
5       c  science     88  sem2